---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

Below, you can find some examples of some work I've done. This page places increased emphasis on some of my unpublished work and is not necessarily complete.
For more information about my published academic work you should reference my <a href="https://nkuehnle.github.io/publications/">publications</a><br><br>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

