<div class="image-gallery">
{% assign gallery_data = site.data.gallery %}
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' or
      file.extname == '.png' or 
      file.extname == '.PNG' %}
      
      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname, "" %}
      
      {% assign label_found = false %}
      {% for item in gallery_data %}
        {% if item.filename == filename %}
          {% assign label_found = true %}
          <a href="{{ file.path }}" title="{{ item.text }}">
            <img src="//images.weserv.nl/?url=nkuehnle.github.io/{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ filename }}" />
            <span>{{ item.text }}</span>
          </a>
        {% endif %}
      {% endfor %}
      
      {% unless label_found %}
        <a href="{{ file.path }}" title="{{ filename }}">
          <img src="//images.weserv.nl/?url=nkuehnle.github.io/{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ filename }}" />
          <span>{{ filename }}</span>
        </a>
      {% endunless %}
      
    {% endif %}
  {% endif %}
{% endfor %}
</div>
